<div class="box">
  <center><h1>Welcome!</h1></center>
  <center><h2>Please enter teacher names for each period.</h2></center>
	<div class="dropdown">
		<div class="center">
		<button id="tchnam" onclick="myFunction()" class="dropbtn">Display/Hide Teacher Names</button>
		</div>
		<div id="myDropdown" class="dropdown-content" style="scrollbar-width: none;">
			<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">

			<button onclick="myFunction2(this)">Park</button>
			<button onclick="myFunction2(this)">Nurse</button>
			<button onclick="myFunction2(this)">Pressler</button>
			<button onclick="myFunction2(this)">JasonEscandell</button>
			<button onclick="myFunction2(this)">Williams</button>
			<button onclick="myFunction2(this)">Pinkston</button>
			<button onclick="myFunction2(this)">Castro</button>
			<button onclick="myFunction2(this)">Snyder</button>
			<button onclick="myFunction2(this)">Sharp</button>
			<button onclick="myFunction2(this)">Lange</button>
			<button onclick="myFunction2(this)">Baley</button>
			<button onclick="myFunction2(this)">MainOffice</button>
			<button onclick="myFunction2(this)">WritingCenter</button>
			<button onclick="myFunction2(this)">Library</button>
			<button onclick="myFunction2(this)">Welin</button>
			<button onclick="myFunction2(this)">AcademicCounselors</button>
			<button onclick="myFunction2(this)">HirokoKarch</button>
			<button onclick="myFunction2(this)">Zhong</button>
			<button onclick="myFunction2(this)">Ramírez</button>
			<button onclick="myFunction2(this)">Preston</button>
			<button onclick="myFunction2(this)">Contreras</button>
			<button onclick="myFunction2(this)">Walker</button>
			<button onclick="myFunction2(this)">Breland</button>
			<button onclick="myFunction2(this)">Tabor</button>
			<button onclick="myFunction2(this)">AdamEscandell</button>
			<button onclick="myFunction2(this)">SiFuentes</button>
			<button onclick="myFunction2(this)">Goodell</button>
			<button onclick="myFunction2(this)">Pettigrew</button>
			<button onclick="myFunction2(this)">Flowers</button>
			<button onclick="myFunction2(this)">JosueGarcia</button>
			<button onclick="myFunction2(this)">MarcKarch</button>
			<button onclick="myFunction2(this)">Moody</button>
			<button onclick="myFunction2(this)">Martanovic</button>
			<button onclick="myFunction2(this)">Kossa</button>
			<button onclick="myFunction2(this)">Parra</button>
			<button onclick="myFunction2(this)">Brockhoff</button>
			<button onclick="myFunction2(this)">Ahmed</button>
			<button onclick="myFunction2(this)">Harrelson</button>
			<button onclick="myFunction2(this)">Willie</button>
			<button onclick="myFunction2(this)">BookRoom</button>
			<button onclick="myFunction2(this)">Saldana</button>
			<button onclick="myFunction2(this)">CollegeCenter</button>
			<button onclick="myFunction2(this)">Czaplinski</button>
			<button onclick="myFunction2(this)">Shockey</button>
			<button onclick="myFunction2(this)">Mueller</button>
			<button onclick="myFunction2(this)">KevinGarcia</button>
			<button onclick="myFunction2(this)">Granado</button>
			<button onclick="myFunction2(this)">DeBerry</button>
			<button onclick="myFunction2(this)">Villanueva</button>
			<button onclick="myFunction2(this)">Cuttill</button>
			<button onclick="myFunction2(this)">Zamora</button>
			<button onclick="myFunction2(this)">Mokry</button>
			<button onclick="myFunction2(this)">MetalShop</button>
			<button onclick="myFunction2(this)">Gonzalez</button>
			<button onclick="myFunction2(this)">WoodShop</button>
			<button onclick="myFunction2(this)">Band</button>
			<button onclick="myFunction2(this)">Choir</button>
			<button onclick="myFunction2(this)">Orchestra</button>
			<button onclick="myFunction2(this)">BigGym</button>
			<button onclick="myFunction2(this)">SmallGym</button>
			<button onclick="myFunction2(this)">DanceOffice</button>
			<button onclick="myFunction2(this)">Dance</button>
			<button onclick="myFunction2(this)">JazzBand</button>
			<button onclick="myFunction2(this)">WeightRoom</button>
			<button onclick="myFunction2(this)">SportsMed</button>
			<button onclick="myFunction2(this)">LockerRoom1</button>
			<button onclick="myFunction2(this)">LockerRoom2</button>
			<button onclick="myFunction2(this)">LockerRoom3</button>
			<button onclick="myFunction2(this)">LockerRoom4</button>
			<button onclick="myFunction2(this)">LockerRoom5</button>
			<button onclick="myFunction2(this)">Cafeteria</button>


			<button onclick="myFunction2(this)">101</button>
			<button onclick="myFunction2(this)">102</button>
			<button onclick="myFunction2(this)">103</button>
			<button onclick="myFunction2(this)">104</button>
			<button onclick="myFunction2(this)">105</button>
			<button onclick="myFunction2(this)">107</button>
			<button onclick="myFunction2(this)">108</button>
			<button onclick="myFunction2(this)">109A</button>
			<button onclick="myFunction2(this)">109B</button>
			<button onclick="myFunction2(this)">110A</button>
			<button onclick="myFunction2(this)">110B</button>

			<button onclick="myFunction2(this)">201</button>
			<button onclick="myFunction2(this)">202</button>
			<button onclick="myFunction2(this)">204</button>
			<button onclick="myFunction2(this)">206</button>
			<button onclick="myFunction2(this)">207A</button>
			<button onclick="myFunction2(this)">207B</button>
			<button onclick="myFunction2(this)">210</button>

			<button onclick="myFunction2(this)">301</button>
			<button onclick="myFunction2(this)">302</button>
			<button onclick="myFunction2(this)">303</button>
			<button onclick="myFunction2(this)">304</button>
			<button onclick="myFunction2(this)">307</button>
			<button onclick="myFunction2(this)">308</button>
			<button onclick="myFunction2(this)">309A</button>
			<button onclick="myFunction2(this)">309B</button>
			<button onclick="myFunction2(this)">310A</button>
			<button onclick="myFunction2(this)">310B</button>	
			
			<button onclick="myFunction2(this)">401</button>
			<button onclick="myFunction2(this)">402</button>
			<button onclick="myFunction2(this)">405</button>
			<button onclick="myFunction2(this)">406</button>
			<button onclick="myFunction2(this)">409</button>
			<button onclick="myFunction2(this)">410</button>

			<button onclick="myFunction2(this)">501</button>
			<button onclick="myFunction2(this)">502</button>
			<button onclick="myFunction2(this)">503</button>
			<button onclick="myFunction2(this)">504</button>
			<button onclick="myFunction2(this)">505</button>
			<button onclick="myFunction2(this)">506</button>

			<button onclick="myFunction2(this)">700</button>
			<button onclick="myFunction2(this)">701</button>
			<button onclick="myFunction2(this)">702</button>
			<button onclick="myFunction2(this)">703</button>
			<button onclick="myFunction2(this)">704</button>
			<button onclick="myFunction2(this)">705</button>
			<button onclick="myFunction2(this)">707</button>
			<button onclick="myFunction2(this)">708A</button>
			<button onclick="myFunction2(this)">708B</button>
			<button onclick="myFunction2(this)">709</button>
			<button onclick="myFunction2(this)">710</button>
			<button onclick="myFunction2(this)">711A</button>
			<button onclick="myFunction2(this)">711B</button>

			<button onclick="myFunction2(this)">155</button>
			<button onclick="myFunction2(this)">156</button>
			<button onclick="myFunction2(this)">166</button>

			<button onclick="myFunction2(this)">001L</button>
			<button onclick="myFunction2(this)">002L</button>
			<button onclick="myFunction2(this)">003L</button>
			<button onclick="myFunction2(this)">004L</button>
			<button onclick="myFunction2(this)">005L</button>

			<button onclick="myFunction2(this)">073</button>
			<button onclick="myFunction2(this)">098</button>
			<button onclick="myFunction2(this)">606A</button>
			<button onclick="myFunction2(this)">606B</button>
			<button onclick="myFunction2(this)">117</button>
			<button onclick="myFunction2(this)">118</button>
			<button onclick="myFunction2(this)">001D</button>

			<button onclick="myFunction2(this)">134</button>
			<button onclick="myFunction2(this)">134D</button>
			<button onclick="myFunction2(this)">133</button>

			<button onclick="myFunction2(this)">001C</button>
		</div>
	</div>

	<div id ="teacherNames"></div>
<div id= "sbmit">
	<form method = "POST" action="{{ url_for('test') }}">
		<input hidden type="text" id="schedule" name="schedule">
		<br>
		<button onclick = "processFunction()" id ="submitbutton">Submit!</button>
	</form>
</div>
</div>

<script>
function processFunction(){
  const input = document.getElementById("myInput");
  const filter = input.value.toUpperCase();
  const div = document.getElementById("teacherNames");
  const divs = div.getElementsByTagName("div");
	var arr = ""
  for (let i = 0; i < divs.length; i++) {
    arr+=(divs[i].innerText);
		if (i == divs.length-1){
			continue;
		} else {
		arr+=","
		}
  }
	document.getElementById("schedule").value = arr;

}
var teacher = ""
let count = 0;
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
	if (count %2==0){
		document.getElementById("teacherNames").style.top = "500px";
	} else {
		document.getElementById("teacherNames").style.top = "350px";
	}
}
document.getElementById("tchnam").addEventListener("click", function() {
	count++;
});

function myFunction2(element){
	var txt = element.innerText;
	if (txt === "Dropdown"){
		return
	} else {
		var txtElem = document.createElement('div')
		txtElem.className = "classList"
		txtElem.innerText=txt
		document.getElementById("teacherNames").appendChild(txtElem);
		// document.getElementById("schedule").innerText+=txt
		// document.getElementById("schedule").innerText+=","
	}
}

function filterFunction() {
  const input = document.getElementById("myInput");
  const filter = input.value.toUpperCase();
  const div = document.getElementById("myDropdown");
  const buttons = div.getElementsByTagName("button");
  for (let i = 0; i < buttons.length; i++) {
    txtValue = buttons[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      buttons[i].style.display = "";
    } else {
      buttons[i].style.display = "none";
    }
  }
}
</script>





<style>

#teacherNames{
	position:absolute;
	top:500px;
}
#sbmit{
	position:absolute;
	top:850px;
	left:805px;
}

#submitbutton{
	width:300px;
	height:50px;
	border-radius: 10px;
	border:none;
	font-size: 20px;
	font-weight: bold;
	background-color:#64b3f4;
}

.classList{
	width:450px;
	height:20px;
	margin:2px;
	padding:10px;
	color:white;
	font-size: 20px;
	font-weight: bold;
	background-color: #64b3f4;
	border-radius:10px;
	border: transparent;
}
.center{
	text-align: center;
}

#tchnam{
	position: absolute;
	left:95px;
	width:300px;
}
body{
    background-image: linear-gradient(to right,#c2e59c, #64b3f4);
}

.box {
  width: 500px;
  height: 700px;
  background-color:white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 100px;
  margin-top: 30px;
  margin-left:32%;
}

.dropbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2e59c;
  color: black;
  padding: 16px;
  font-size: 16px;
	font-weight: bold;
	border-radius:10px;
	border-color: transparent;
  cursor: pointer;
}

#myInput {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
	width:400px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	left:40px;
  display: none;
  position: absolute;
	margin-top:55px;
  background-color: #f6f6f6;
  overflow: auto;
  border: 1px solid #ddd;
  /* z-index: 1; */
  height:150px;
  overflow: auto;
	width:400px;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  display: block;
	border:none;
	width: 400px;
}

.show {display: block;}
</style>