<img src = "/static/lasamap.png" width="106%" height="118%">
<span class="dot" id = "L109A" style="margin-top: 45.7%;margin-left: 12.4%;"></span>
<span class="dot" id = "L109B" style="margin-top: 45.7%;margin-left: 16%;"></span>
<span class="dot" id = "L107" style="margin-top: 45.7%;margin-left: 19.6%;"></span>
<span class="dot" id = "L105" style="margin-top: 45.7%;margin-left: 23.3%;"></span>
<span class="dot" id = "L103" style="margin-top: 45.7%;margin-left: 26.7%;"></span>
<span class="dot" id = "L101" style="margin-top: 45.7%;margin-left: 30.3%;"></span> 
<span class="dot" id = "L126" style="margin-top: 45.7%;margin-left: 41%;"></span>
<span class="dot" id = "L201" style="margin-top: 45.7%;margin-left: 55%;"></span> 
<span class="dot" id = "L205" style="margin-top: 45.7%;margin-left: 60.8%;"></span>
<span class="dot" id = "L207A" style="margin-top: 45.7%;margin-left: 64.4%;"></span>
<span class="dot" id = "L207B" style="margin-top: 45.7%;margin-left: 68%;"></span>

<span class="dot" id = "L110A" style="margin-top: 44.2%;margin-left: 12.4%;"></span>   
<span class="dot" id = "L110B" style="margin-top: 44.2%;margin-left: 16%;"></span>
<span class="dot" id = "L108" style="margin-top: 44.2%;margin-left: 19.6%;"></span>
<span class="dot" id = "L104" style="margin-top: 44.2%;margin-left: 26.7%;"></span> 
<span class="dot" id = "L102" style="margin-top: 44.2%;margin-left: 30.3%;"></span>
<span class="dot" id = "L202" style="margin-top: 44.2%;margin-left: 52%;"></span>
<span class="dot" id = "L204" style="margin-top: 44.2%;margin-left: 55.5%;"></span>
<span class="dot" id = "L206" style="margin-top: 44.2%;margin-left: 59%;"></span>
<span class="dot" id = "L210" style="margin-top: 44.2%;margin-left: 67%;"></span>

<span class="dot" id = "L309A" style="margin-top: 35.9%;margin-left: 12.6%;"></span>
<span class="dot" id = "L309B" style="margin-top: 35.9%;margin-left: 16.6%;"></span>
<span class="dot" id = "L307" style="margin-top: 35.9%;margin-left: 20.3%;"></span>
<span class="dot" id = "L303" style="margin-top: 35.9%;margin-left: 26.3%;"></span>
<span class="dot" id = "L301" style="margin-top: 35.9%;margin-left: 29.6%;"></span>
<span class="dot" id = "L401" style="margin-top: 35.9%;margin-left: 53.7%;"></span>   
<span class="dot" id = "L405" style="margin-top: 35.9%;margin-left: 59%;"></span> 
<span class="dot" id = "L409" style="margin-top: 35.9%;margin-left: 67.2%;"></span>

<span class="dot" id = "L310A" style="margin-top: 34.5%;margin-left: 12.6%;"></span>   
<span class="dot" id = "L310B" style="margin-top: 34.5%;margin-left: 16.6%;"></span>
<span class="dot" id = "L308" style="margin-top: 34.5%;margin-left: 20.3%;"></span>
<span class="dot" id = "L304" style="margin-top: 34.5%;margin-left: 26.2%;"></span>
<span class="dot" id = "L302" style="margin-top: 34.5%;margin-left: 30.1%;"></span>
<span class="dot" id = "L402" style="margin-top: 34.5%;margin-left: 53.1%;"></span>
<span class="dot" id = "L406" style="margin-top: 34.5%;margin-left: 59.3%;"></span>
<span class="dot" id = "L410" style="margin-top: 34.5%;margin-left: 66.8%;"></span>

<span class="dot" id = "L709" style="margin-top: 24.5%;margin-left: 14.3%;"></span>
<span class="dot" id = "L707" style="margin-top: 24.8%;margin-left: 16.6%;"></span>
<span class="dot" id = "L705" style="margin-top: 24.8%;margin-left: 20.3%;"></span>
<span class="dot" id = "L703" style="margin-top: 24.8%;margin-left: 26.3%;"></span>
<span class="dot" id = "L701" style="margin-top: 24.8%;margin-left: 30.1%;"></span>
<span class="dot" id = "L156" style="margin-top: 25.2%;margin-left: 52.8%;"></span>   
<span class="dot" id = "L001D" style="margin-top: 26.6%;margin-left: 71.3%;"></span> 
<span class="dot" id = "L001L" style="margin-top: 23.9%;margin-left: 75.8%;"></span>  
<span class="dot" id = "L098" style="margin-top: 24.6%;margin-left: 84.8%;"></span> 

<span class="dot" id = "L711A" style="margin-top: 20%;margin-left: 21.3%;"></span>   
<span class="dot" id = "L711B" style="margin-top: 16.5%;margin-left: 16.7%;"></span>
<span class="dot" id = "L710" style="margin-top: 15.3%;margin-left: 16%;"></span>
<span class="dot" id = "L708A" style="margin-top: 14.7%;margin-left: 17.8%;"></span>
<span class="dot" id = "L708B" style="margin-top: 14.7%;margin-left: 22%;"></span>
<span class="dot" id = "L706" style="margin-top: 14.7%;margin-left: 27%;"></span>
<span class="dot" id = "L704" style="margin-top: 14.7%;margin-left: 31.3%;"></span>
<span class="dot" id = "L166" style="margin-top: 16%;margin-left: 51%;"></span>
<span class="dot" id = "L118" style="margin-top: 23.2%;margin-left: 85.2%;"></span>
<span class="dot" id = "L117" style="margin-top: 23.2%;margin-left: 88.5%;"></span>
<span class="dot" id = "002L" style="margin-top: 20%;margin-left: 91%;"></span>

<span class="dot" id = "L003L" style="margin-top: 16%;margin-left: 90.3%;"></span>   
<span class="dot" id = "L702" style="margin-top: 19.8%;margin-left: 23.6%;"></span>
<span class="dot" id = "L155" style="margin-top: 18.8%;margin-left: 52.2%;"></span>
<span class="dot" id = "L073" style="margin-top: 14.4%;margin-left: 63.3%;"></span>
<span class="dot" id = "L005L" style="margin-top: 16%;margin-left: 76%;"></span>
<span class="dot" id = "L606A" style="margin-top: 22.5%;margin-left: 75.5%;"></span>
<span class="dot" id = "L005L" style="margin-top: 22.5%;margin-left: 80.7%;"></span>
<span class="dot" id = "L004L" style="margin-top: 16.3%;margin-left: 86%;"></span>
<span class="dot" id = "L700" style="margin-top: 22.8%;margin-left: 23.6%;"></span>

<span class="dot" id = "L506" style="margin-top: 33.3%;margin-left: 37%;"></span>   
<span class="dot" id = "L504" style="margin-top: 33.3%;margin-left: 41%;"></span>
<span class="dot" id = "L502" style="margin-top: 33.3%;margin-left: 45.3%;"></span>
<span class="dot" id = "L134D" style="margin-top: 42.8%;margin-left: 34%;"></span>
<span class="dot" id = "L505" style="margin-top: 34.3%;margin-left: 35.7%;"></span>
<span class="dot" id = "L133" style="margin-top: 40.6%;margin-left: 48.3%;"></span>
<span class="dot" id = "L501" style="margin-top: 36.7%;margin-left: 48.3%;"></span>
<span class="dot" id = "L134" style="margin-top: 44%;margin-left: 41%;"></span>
<span class="dot" id = "L503" style="margin-top: 34.6%;margin-left: 41%;"></span>

<span class="dot" id = "L101_126" style="margin-top: 45%;margin-left: 33%;"></span>   
<span class="dot" id = "L126_201" style="margin-top: 45%;margin-left: 49.2%;"></span>
<span class="dot" id = "L104_108" style="margin-top: 43.8%;margin-left: 24.4%;"></span>
<span class="dot" id = "L303_307" style="margin-top: 37%;margin-left: 24.4%;"></span>
<span class="dot" id = "L302_506" style="margin-top: 34%;margin-left: 33%;"></span>
<span class="dot" id = "L701_outside" style="margin-top: 25.2%;margin-left: 33%;"></span>
<span class="dot" id = "L502_402" style="margin-top: 34%;margin-left: 49.2%;"></span>
<span class="dot" id = "L156_outside" style="margin-top: 25.2%;margin-left: 49.2%;"></span>
<span class="dot" id = "L206_210" style="margin-top: 43.8%;margin-left: 61.8%;"></span>
<span class="dot" id = "L405_409" style="margin-top: 37%;margin-left: 61.8%;"></span>
<span class="dot" id = "L166_155" style="margin-top: 18.5%;margin-left: 55.7%;"></span>
<button onclick=move() style=" font-size:30px; padding:10px; border-radius:10px; border:none; background-color: #64b3f4; position:absolute">←New Navigation!</button>

<p id ="answer" hidden>{{ans}}</p>
<style>

#spanimg{
	position:absolute;
}
img{
	/* margin-top:-12%; */
	position:absolute;
	height:auto;
	max-width: 106%;	
}
body {
  background-repeat: no-repeat;
  background-size: 110% 140%;
  background-position: center; 
}

.dot {
	position:absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
	opacity: 50%;
  background-color:lightgray;
}
</style>

<script>

	function move(){
		location.href = "{{ url_for('home') }}";
	}
	arr = document.getElementById("answer").innerText
	arr = arr.replace(/\[|\]/g,'').split(',')
	console.log(arr)
	for (let i = 0; i < arr.length; i++){
		temp = arr[i].trim()
		temp = 	temp.substring(1, temp.length-1)
		console.log(temp)
		document.getElementById(temp).style.backgroundColor = "lightcoral";
		document.getElementById(temp).style.opacity = "100%";
		document.getElementById(temp).innerText = i+1
		document.getElementById(temp).style.textAlign = 'center';
		document.getElementById(temp).style.boxShadow = "5px 5px 18px lightcoral"
	}
</script>